.App {
  text-align: center;
  height: 100vh;
}


.container {
  background-color: rgb(212, 118, 118);
  height: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: black;
  position: fixed;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}
